---
layout: default
title: Participants
image_class: headerimage_people
---


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


<section class="headerimage_people">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <br>
        <br>
        <h1>Participants</h1>
        <br>
        <br>
      </div>
    </div>
</section>
<div class="container">

    {% assign parts = site.participants | sort:"last_name" %}

    <div class="row">
      <div class="col-lg-12">
        <h2>Principal Investigator / chercheur principal</h2>
        <hr>
        <div class="row">
          <div class="col-md-3">
            {% for pi in site.participants %}
              {% if pi.project_group == 'principal-investigator' %}
                <a href = "{{ pi.link }}" target="_blank"> <h4>{{ pi.title }}</h4> </a>
                <h5>{{ pi.institution }}</h5>
                <br>
              {% endif %}
            {% endfor %}
          </div>


          <!-- Adds a final <div> if final element in pages:listing -->
        </div>



      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <h2 data-toggle="collapse" data-target="#co-investigators">
          Co-Applicants / cocandidats et cocandidates
          <img class="icon_rotation" src="{{ site.url }}/assets/0-expand_on.png" style="float:right;width:50px;height:50px" data-toggle="collapse" data-target="#co-investigators" />
        </h2>
        <p>Scholars leading different aspects of the Linkedmusic project and other affiliated projects.</p>
        <p>Chercheurs menant différents aspects du projet LinkedMusic et d’autres projets affiliés.</p>
        <hr>

        <div id="co-investigators" class="collapse in">
          {% assign count = 0 %}
          {% for coinv in parts %}
            {% if coinv.project_group == 'co-investigator' %}

              {% if count == 0 %}
                <div class="row">
              {% endif %}

                <div class="col-md-3">
                  {% if coinv.link %}
                    <a href = "{{ coinv.link }}" target="_blank"> <h4>{{ coinv.title }}</h4> </a>
                  {% else %}
                    <h4>{{ coinv.title }}</h4>
                  {% endif %}
                  {% if coinv.institution != blank %}
                    <h5>{{ coinv.institution }}</h5>
                  {% endif %}
                  <br>
                </div>

                {% assign count = count | plus:1 %}

                {% if count == 4 %}
                  </div>
                  {% assign count = 0 %}
                {% endif %}

              {% endif %}
            {% endfor %}

            {% if count < 4 and count > 0 %}
              </div>
            {% endif %}

        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h2 data-toggle="collapse" data-target="#collaborators">
          Collaborators / collaborateurs et collaboratrices
          <img class="icon_rotation" src="{{ site.url }}/assets/0-expand_on.png" style="float:right;width:50px;height:50px" data-toggle="collapse" data-target="#collaborators" />
        </h2>
        <p>Leaders of projects or organizations aligned with the goals of the LinkedMusic project.</p>
        <p>Responsables de projets ou d’organisations dont les objectifs correspondent à ceux du projet LinkedMusic.</p> 
        <hr>

        <div id="collaborators" class="collapse in">
          {% assign count = 0 %}
          {% for collab in parts %}
            {% if collab.project_group == 'collaborators' %}

              {% if count == 0 %}
                <div class="row">
              {% endif %}

                <div class="col-md-3">
                  {% if collab.link %}
                    <a href = "{{ collab.link }}" target="_blank"> <h4>{{ collab.title }}</h4> </a>
                  {% else %}
                    <h4>{{ collab.title }}</h4>
                  {% endif %}
                  {% if collab.institution %}
                    <h5>{{ collab.institution }}</h5>
                  {% endif %}
                  <br>
                </div>

                {% assign count = count | plus:1 %}

                {% if count == 4 %}
                  </div>
                  {% assign count = 0 %}
                {% endif %}

              {% endif %}
            {% endfor %}

            {% if count < 4 and count > 0 %}
              </div>
            {% endif %}


        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h2 data-toggle="collapse" data-target="#partners">
          Partners / partenaires
          <img class="icon_rotation" src="{{ site.url }}/assets/0-expand_on.png" style="float:right;width:50px;height:50px" data-toggle="collapse" data-target="#partners" />
        </h2>
      <p>Libraries, museums, and other organizations affiliated with the project.</p>
      <p>Bibliothèques, musées et autres organisations affiliées au projet.</p>
        <hr>

        <div id="partners" class="collapse in">
          {% assign count = 0 %}
          {% assign partner_arr = site.participants | sort:"role" | sort:"title" %}
          {% for partner in partner_arr %}
            {% if partner.role == "Partner" %}
              {% if count == 0 %}
                <div class="row">
              {% endif %}

                <div class="col-md-3">
                  {% if partner.link %}
                    <a href = "{{ partner.link }}" target="_blank"> <h4>{{ partner.title }}</h4> </a>
                  {% else %}
                    <h4>{{ partner.title }}</h4>
                  {% endif %}
                  <br>
                </div>

                {% assign count = count | plus:1 %}

                {% if count == 4 %}
                  </div>
                  {% assign count = 0 %}
                {% endif %}

              {% endif %}
            {% endfor %}

            {% if count < 4 and count > 0 %}
              </div>
            {% endif %}

        </div>
      </div>
    </div>

<!-- Hide participant categories that won't be relevant for this phase -->

<!--     <div class="row">
      <div class="col-lg-12">
        <h2 data-toggle="collapse" data-target="#advisory">
          Advisory Board
          <img class="icon_rotation" src="{{ site.url }}/assets/0-expand_on.png" style="float:right;width:50px;height:50px" data-toggle="collapse" data-target="#advisory" />
        </h2>
        Recognized leaders who have provided feedback on the goals and mission of LinkedMusic.
        <hr>

        <div id="advisory" class="collapse in">
          {% assign count = 0 %}
          {% for advisor in parts %}
            {% if advisor.project_group == 'advisory' %}

              {% if count == 0 %}
                <div class="row">
              {% endif %}

                <div class="col-md-3">
                  {% if advisor.link %}
                    <a href = "{{ advisor.link }}" target="_blank"> <h4>{{ advisor.title }}</h4> </a>
                  {% else %}
                    <h4>{{ advisor.title }}</h4>
                  {% endif %}
                  {% if advisor.institution %}
                    <h5>{{ advisor.institution }}</h5>
                  {% endif %}
                  <br>
                </div>

                {% assign count = count | plus:1 %}

                {% if count == 4 %}
                  </div>
                  {% assign count = 0 %}
                {% endif %}

              {% endif %}
            {% endfor %}

            {% if count < 4 and count > 0 %}
              </div>
            {% endif %}

        </div>
      </div>
    </div> -->

    <!-- <div class="row">
      <div class="col-lg-12">
        <h2 data-toggle="collapse" data-target="#project-manager">
          Project Manager
          <img class="icon_rotation" src="{{ site.url }}/assets/0-expand_on.png" style="float:right;width:50px;height:50px" data-toggle="collapse" data-target="#project-manager" />
        </h2>
        <hr>

        <div id="project-manager" class="collapse in">
          <div class="row">
            {% for pm in site.participants %}
              {% if pm.project_group == 'project-manager' %}
                <div class="col-md-3">
                  {% if pm.link %}
                    <a href = "{{ pm.link }}" target="_blank"> <h4>{{ pm.title }}</h4> </a>
                  {% else %}
                    <h4>{{ pm.title }}</h4>
                  {% endif %}
                  <h5>{{ pm.institution }}</h5>
                  {% if pm.participation_date_start %}
                    <h6>{{ pm.participation_date_start | date: "%B %Y"}} &#8212;{% if pm.participation_date_end %} {{ pm.participation_date_end | date: "%B %Y" }}{% endif %}
                    </h6>
                  {% endif %}

                  <br>
                {% endif %}
              {% endfor %}

          </div>
          </div>


        </div>
      </div>
    </div> -->

<!--     <div class="row">
      <div class="col-lg-12">
        <h2 data-toggle="collapse" data-target="#post-doc">
          Postdoctoral Researchers
          <img class="icon_rotation" src="{{ site.url }}/assets/0-expand_on.png" style="float:right;width:50px;height:50px" data-toggle="collapse" data-target="#post-doc" />
        </h2>
        <hr>

        <div id="post-doc" class="collapse in">
          {% assign count = 0 %}
          {% assign postdoc_list = site.participants | where: 'project_group', 'post-doctoral-fellow' | sort: 'participation_date_start' | reverse %}
          {% for postdoc in postdoc_list %}

            {% if count == 0 %}
              <div class="row">
            {% endif %}

            <div class="col-md-3">
              {% if postdoc.link %}
                <a href = "{{ postdoc.link }}" target="_blank"> <h4>{{ postdoc.title }}</h4> </a>
              {% else %}
                <h4>{{ postdoc.title }}</h4>
              {% endif %}
              {% if postdoc.institution %}
                <h5>{{ postdoc.institution }}</h5>
              {% endif %}
              {% if postdoc.participation_date_start %}
                <h6>{{ postdoc.participation_date_start | date: "%B %Y"}} &#8212;{% if postdoc.participation_date_end %} {{ postdoc.participation_date_end | date: "%B %Y" }}{% endif %}
                </h6>
              {% endif %}
              <br>
            </div>

            {% assign count = count | plus:1 %}

            {% if count == 4 %}
              </div>
              {% assign count = 0 %}
            {% endif %}

          {% endfor %}

          {% if count < 4 and count > 0 %}
            </div>
          {% endif %}


        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h2 data-toggle="collapse" data-target="#researchers">
          Researchers
          <img class="icon_rotation" src="{{ site.url }}/assets/0-expand_on.png" style="float:right;width:50px;height:50px" data-toggle="collapse" data-target="#researchers" />
        </h2>
        Researchers engaged in research and development of the LinkedMusic project.
        <hr>

        <div id="researchers" class="collapse in">
          {% assign count = 0 %}
          {% for research in parts %}
            {% if research.project_group == 'researchers' %}

              {% if count == 0 %}
                <div class="row">
              {% endif %}

                <div class="col-md-3">
                  {% if research.link %}
                    <a href = "{{ research.link }}" target="_blank"> <h4>{{ research.title }}</h4> </a>
                  {% else %}
                    <h4>{{ research.title }}</h4>
                  {% endif %}
                  {% if research.institution %}
                    <h5>{{ research.institution }}</h5>
                  {% endif %}
                  {% if research.participation_date_start %}
                    <h6>{{ research.participation_date_start | date: "%B %Y"}} &#8212;{% if research.participation_date_end %} {{ research.participation_date_end | date: "%B %Y" }}{% endif %}
                    </h6>
                  {% endif %}
                  <br>
                </div>

                {% assign count = count | plus:1 %}

                {% if count == 4 %}
                  </div>
                  {% assign count = 0 %}
                {% endif %}

              {% endif %}
            {% endfor %}

            {% if count < 4 and count > 0 %}
              </div>
            {% endif %}


        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h2 data-toggle="collapse" data-target="#students">
          Students
          <img class="icon_rotation" src="{{ site.url }}/assets/0-expand_on.png" style="float:right;width:50px;height:50px" data-toggle="collapse" data-target="#students" />
        </h2>
        Undergraduate and graduate students engaged in research and development of the LinkedMusic project.
        <hr>

        <div id="students" class="collapse in">
          {% assign count = 0 %}
          {% for student in parts %}
            {% if student.project_group == 'students' %}

              {% if count == 0 %}
                <div class="row">
              {% endif %}

                <div class="col-md-3">
                  {% if student.link %}
                    <a href = "{{ student.link }}" target="_blank"> <h4>{{ student.title }}</h4> </a>
                  {% else %}
                    <h4>{{ student.title }}</h4>
                  {% endif %}
                  {% if student.institution %}
                    <h5>{{ student.institution }}</h5>
                  {% endif %}
                  {% if student.participation_date_start %}
                    <h6>{{ student.participation_date_start | date: "%B %Y"}} &#8212;{% if student.participation_date_end %} {{ student.participation_date_end | date: "%B %Y" }}{% endif %}
                    </h6>
                  {% endif %}
                  <br>
                </div>

                {% assign count = count | plus:1 %}

                {% if count == 4 %}
                  </div>
                  {% assign count = 0 %}
                {% endif %}

              {% endif %}
            {% endfor %}

            {% if count < 4 and count > 0 %}
              </div>
            {% endif %}


        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h2 data-toggle="collapse" data-target="#alumni">
          Student Alumni
          <img class="icon_rotation" src="{{ site.url }}/assets/0-expand_on.png" style="float:right;width:50px;height:50px" data-toggle="collapse" data-target="#alumni" />
        </h2>
        <hr>

        <div id="alumni" class="collapse in">
          {% assign count = 0 %}
          {% assign alumni_list = site.participants | where: 'project_group', 'alumni' | sort: 'participation_date_start' | reverse %}
          {% for alumnus in alumni_list %}

            {% if count == 0 %}
              <div class="row">
            {% endif %}

              <div class="col-md-3">
                {% if alumnus.link %}
                  <a href = "{{ alumnus.link }}" target="_blank"> <h4>{{ alumnus.title }}</h4> </a>
                {% else %}
                  <h4>{{ alumnus.title }}</h4>
                {% endif %}
                {% if alumnus.institution %}
                  <h5>{{ alumnus.institution }}</h5>
                {% endif %}
                {% if alumnus.participation_date_start %}
                  <h6>{{ alumnus.participation_date_start | date: "%B %Y"}} &#8212;{% if alumnus.participation_date_end %} {{ alumnus.participation_date_end | date: "%B %Y" }}{% endif %}
                  </h6>
                {% endif %}
                <br>
              </div>

              {% assign count = count | plus:1 %}

              {% if count == 4 %}
                </div>
                {% assign count = 0 %}
              {% endif %}

          {% endfor %}

          {% if count < 4 and count > 0 %}
            </div>
          {% endif %}



        </div>

      </div>
    </div>

  </div>
</div> -->

<script>
  $(document).ready(function(){
    $('.icon_rotation').on({
      'click': function () {
        var origsrc = $(this).attr('src');
        var src = '';
        if (origsrc == '{{ site.url }}/assets/0-expand_off.png') src = '{{ site.url }}/assets/0-expand_on.png';
        if (origsrc == '{{ site.url }}/assets/0-expand_on.png') src = '{{ site.url }}/assets/0-expand_off.png';
        $(this).attr('src', src);
      }
    });
  });
</script>
