<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body id ="Site" class='layout-reverse theme-base-sm sidebar-overlay'>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->

        {% include sidebar.html %}

        {{ content }}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/bootstrap.min.js"></script>
  </body>
</html>
