---
layout: default
permalink: /:title/
---

<div class="post">
  <div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        	<h2>{{ page.title }}</h2><br />
        	<p class="blog-post">
        	   Posted by {{ page.author }} on {{ page.date | date: "%B %d, %Y" }}
          </p><br />
			    <p>{{ page.content }}</p>
        </div>
    </div>
    <br /><hr /><br />
    <div class="related">
      <h2>Related Posts</h2>
      <ul class="related-posts">
        {% for post in site.posts limit:3 %}
          <li>
            <h3>
              <a href="{{ site.url }}{{ post.url }}">
                {{ post.title }}
                <!-- <small>{{ post.date | date_to_string }}</small> -->
              </a>
            </h3>
          </li>
        {% endfor %}
      </ul>
      <br /><br /><br>
    </div>
  </div>
</div>
